html, body {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: blueviolet;
}

.header {
    border:
     1px solid red;
}

.logo {
    width: 75px;
}

.home ul {
    list-style: none;
}